@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.navbar li{
    display:inline-block;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ED9D7B;
}
ul{
    /* justify-content: space-between; */
    display:flex;
    align-items: center;
    padding: 0;

}
ul li{
    margin-right: 1.2vw;
    
}
a{
    text-decoration: none;
    color: black;
}
h3{
    font-size: 8px;
   padding: 0 auto;
   width:140px;
   height:18px;
    
}
p{
    font-family: poppins;
    font-size:18px;


}
.text{
   width:100vw;
   height:auto;
    margin:0;

}
h1{
    text-align: center;
}
footer{
    /* height: 61px; */
    background-color: #ED9D7B;
    min-height: 61px;
    width: auto;
    text-align: center;
    
}
h2{
    margin: 0px auto;
width: 148px;
height: 114px;
font-family: "Poppins";
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 178.5%;
/* or 114px */
text-align: center;

color: #000000;
}
.text p{
    text-align:center;
}
.oli{
    display: flex;
    justify-content: center;
    height: auto;
    width:100vw;
}
.oli li{
    margin-right: 30px;
}
