@import url("https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans&family=Poppins:wght@400;700&display=swap");

body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background: url("https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png");
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
.image-skeleton {
  width: 200px;
  height: 200px;
  background-color: aliceblue;
  margin-right: 2em;
  margin-bottom: 2em;
}
/*NAVIGATION BAR */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: cursive, sans-serif;
  align-items: center;
}
.navbar-items {
  display: flex;
  gap: 20px;
}
.navbar h3 a {
  font-family: "Allura", sans-serif;
  font-size: 40px;
  color: blue;
}
/* BLOG */
h1 {
  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;
}
.allblogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.blog {
  display: flex;
  margin-bottom: 2em;
  justify-content: space-evenly;
}
.blog div {
  max-width: 500px;
  min-width: 500px;
}
.blogContent {
  width: 100%;
  height: auto;
}

.blogContent p {
  width: 100%;
  font-size: medium;
  line-height: 15px;
  margin-left: 1em;
  margin-bottom: 1em;
}
img {
  width: 370px;
  height: 380px;
}
button.delBlog {
  margin: 10em;
}
#edBlogContainer {
  width: 500px;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  top: 0;
  left: 0;
  position: fixed !important;
  width: 100%;
  height: 100vh;
  align-items: center;
  z-index: 1000;
}
#edBlog {
  width: 60%;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#flexTitle {
  display: flex;
  margin: 1em;
  align-items: center;
}

#flexText {
  display: flex;
  margin: 1em;
  align-items: center;
}
label {
  font-size: large;
}
#title {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 10px auto;
  padding: 5px;
}
#text {
  width: 80%;
  height: 100px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 10px auto;
  padding: 5px;
}
#hiddenId {
  display: none;
}
#edBlogContainer button {
  border-radius: 5px;
  margin: 20px 20px;
  background-color: skyblue;
  border: 1px solid skyblue;
  padding: 10px 40px;
  color: black;
}
#remove {
  display: flex;
  width: 100%;
  justify-content: end;
}

#remove h1 {
  display: inline;
  padding: 8px 10px 0 0;
  /* text-align: end; */
  cursor: pointer;
  margin: 0;
}
.editTitle,
.editText {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
}
/* FOOTER */
footer {
  text-align: center;
}

@media screen and (max-width: 800px) {
  /*NAVIGATION BAR*/
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .allblogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
  .blog {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    justify-content: space-evenly;
  }
  h2 {
    width: 80vw;
    line-height: 30px;
    margin: 2em auto;
  }
  img {
    width: 300px;
    height: 310px;
  }
}
