@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans&family=Poppins:wght@400;700&display=swap');

body{
    width:100vw;
    height:auto;
    margin:0;padding:0;
    background-image: url("https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png");
  
}

*{
    padding: 0;
    margin:0;
    text-decoration:none;
    list-style:none;
    box-sizing: border-box;
    font-family: "Josefin Sans",sans-serif;
}

/*NAVIGATION BAR */
.navbar{
width:100vw;
display:flex;
justify-content: space-around;
font-family:cursive,sans-serif;
align-items: center;
}
.navbar-items {
    display:flex;
    gap:20px;
}
.navbar h3 a {
    font-family: "Allura",sans-serif;
    font-size: 40px;
    color: blue;
}
/* DASHBOARD SECTION */
h1,h2{
    text-align: center;
    margin-top: 1em;
}
.newblog{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    align-items: center;
    margin:2em 0em;
}
.inputs{
    width:70%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input.title{
    width:50%;
    height:5vh;
    margin-bottom:1em;
    border-radius: 5px;
}
input.text{
    width:75%;
    height:20vh;
    margin-bottom:1em;

    border-radius: 5px;
}
.image{
    display: flex;
    align-items: center;
}
.image input{
    margin-left: 1em;
}
.inputs button{
    width:15%;
    height:2vh;
    margin-top: 1em;
}
.flex{
    display: flex;
    flex-direction: column;
    text-align: center;
}
img{
    margin:2em;
    width:500px;
    height:400px;
}
.articlesboxe1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid black;
    width:fit-content;
    height:auto;
    margin: 3em auto;
}
.articlesboxe1 button{
    margin-bottom: 3em;
    cursor: pointer;
}
.skill{
    display:flex;
    flex-direction: row;
    margin:0 auto;
    align-items: center;
    width: fit-content;
    margin-bottom:2em;

}
input.green{
    margin-top: 2em;
    width:20%;
    height:6vh;
    margin-right:0.5em;

    
}
button.green{
    margin-top: 2em;
    width:12%;
    height:fit-content;
}
/* FOOTER */
footer{
    text-align: center;
}



@media screen and (max-width: 800px) {
    /*NAVIGATION BAR*/
    .navbar{
        display:flex;
        flex-direction: column;
        align-items: center;

    }
    .navbar-items{
        display:flex;
        flex-direction: column;
        align-items: center;

    }
    .articlesboxe1{
        display: flex;
        flex-direction: column;
        align-items: center;
        border:1px solid black;
        width:fit-content;
        height:auto;
        margin: 3em 2em;
    }
    /* DASHBOARD */
    .image{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    img{
        margin:2em;
        width:60%;
        height:40vh;
    }

    .skill{
        display:flex;
        flex-direction: row;
        margin:0 auto;
        align-items: center;
        width: 100%;
        margin-bottom:2em;
    
    }
    input.green{
        margin-top: 2em;
        width:100%;
        height:6vh;
        margin-right:0.5em;
    
        
    }
    button.green{
        margin-top: 2em;
        width:40%;
        height:fit-content;
        
    
    }
}