@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans&family=Poppins:wght@400;700&display=swap');

body{
    width:100%;
    height:auto;
    margin:0;padding:0;
    background-image: url(../public/pexels-fwstudio-129731\ \(1\).jpg);
  
}

*{
    padding: 0;
    margin:0;
    text-decoration:none;
    list-style:none;
    box-sizing: border-box;
    font-family: "Josefin Sans",sans-serif;
}
.main{
    padding: 1em 3em;
    margin:4em;
    background:url("https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png");
    border-radius: 5%;
}

/*NAVIGATION BAR */
.navbar{
width:100%;
display:flex;
justify-content: space-around;
font-family:cursive,sans-serif;
align-items: center;
}
.navbar-items {
    display:flex;
    gap:20px;
}
.navbar h3{
    font-family: "Allura",sans-serif;
    font-size: 40px;
    color: blue;
}

/* PROFILE SECTION*/
.profile{
    margin-top: 5%;
    width:100%;
    height:auto;
    display:flex;
    justify-content:safe;
    
}

.profile img{
    float:left;
}
.myprofile{
    margin:0 4em 0 5em; 
    transition: all 0.5s ease;
}
.myprofile img{
    width:85%;
    height:30vh;
}
.myprofile img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    cursor:pointer;
}
.myprofile img:hover{
    transform: scale(1.1);
}
.profile p{
margin-top: 0.5em;   
width:40%;
height:80%;
line-height: 40px;
font-size: 28px;
}
h1{
    text-align: center;
    margin:2em 0 2em 0;
}
/*ROLE MODELS*/
.rolemodels{
    display:flex;
    width:100%;
    height:auto;
    justify-content: space-evenly;
    margin:0em 0em 2em 0em;
    align-items: center;

}
.rolemodels h2{
    margin-top: 0.5em;
}
.rolemodel-1{
    width:60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rolemodel-2{
    width:60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rolemodel-1 img{
    width:300px;
    height:300px;
    border-radius: 50%;

}
.rolemodel-2 img{
    width:300px;
    height:300px;
    border-radius: 50%;

}
.rolemodel-1 h2{
    text-align: center;
}
.rolemodel-2 h2{
    text-align: center;
}
/* FOOTER*/
footer{
    text-align: center;
}
@media screen and (max-width: 800px) {
    *{
        padding: 0;
        margin:0;
        text-decoration:none;
        list-style:none;
        box-sizing: border-box;
        font-family: "Josefin Sans",sans-serif;
    }

    body{

        width:100%;
        height:auto;
        margin:0;padding:0;
      background-image: url(../public/pexels-fwstudio-129731\ \(1\).jpg);
      
    }
    .main{
        width:100%;
        height:auto;
        padding:0em;
        margin:2em 0em 2em 0em;
        background:url("https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png");
        border-radius: 20px;
        
    }
    /*NAVIGATION BAR*/
    .navbar{
        display:flex;
        flex-direction: column;
        align-items: center;

    }
    .navbar-items{
        display:flex;
        flex-direction: column;
        align-items: center;

    }
    /*PROFILE*/
    .profile{
        margin-top: 5%;
        width:100%;
        height:auto;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }
    .myprofile{
        margin:0 auto; 
        transition: all 0.5s ease;
    }
    .myprofile img{
        border-radius: 50%;
        cursor:pointer;
        
    }
    .profile p{
        margin-top: 1em;   
        width:80%;
        height:80%;
        line-height: 35px;
        font-size: 28px;
        }
    /*ROLE MODELS*/
.rolemodels{
    display:flex;
    flex-direction: column;
    width:100%;
    height:auto;
    justify-content: space-evenly;
    align-items: center;
    margin: 0em;

}
.rolemodel-1{
    margin-bottom: 2em;
}
.rolemodel-1 img{
    width:200px;
    height:200px;
    border-radius: 50%;
   

}
.rolemodel-2 img{
    width:200px;
    height:200px;
    border-radius: 50%;

}
footer{
    padding: 0%;
    margin:0%;
}

}