@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans&family=Poppins:wght@400;700&display=swap');

body{
    width:100vw;
    height:auto;
    margin:0;padding:0;
    background:url("https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png") ;
  
}

*{
    padding: 0;
    margin:0;
    text-decoration:none;
    list-style:none;
    box-sizing: border-box;
    font-family: "Josefin Sans",sans-serif;
}

/*NAVIGATION BAR */
.navbar{
width:100vw;
display:flex;
justify-content: space-around;
font-family:cursive,sans-serif;
align-items: center;
margin-bottom: 8em;
}
.navbar-items {
    display:flex;
    gap:20px;
}
.navbar h3 a {
    font-family: "Allura",sans-serif;
    font-size: 40px;
    color: blue;
}
.body{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box1{
    width: 450px;
    height: 350px;
    background: #292929;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 53.5px;
}

.box1 h1, .box1 h2 {
    color: #fff;
}

form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    align-items: center;
}

form input{
    width: 322px;
    height: 65px;
    background: #C4C4C4;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-bottom: 27px;
}

form button{
    width: 114px;
    height: 47px;
    background: #C4C4C4;
    border-radius: 10px;
    margin: 0 auto;
    outline: none;
    border: none;
}

/* FOOTER */
footer{
margin-top:8em;
text-align: center;

}



@media screen and (max-width: 800px) {
    /*NAVIGATION BAR*/
    .navbar{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4em;

    }
    .navbar-items{
        display:flex;
        flex-direction: column;
        align-items: center;

    }
    .body{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .box1{
        width: 300px;
        height: 250px;
        background: #292929;
        border-radius: 20px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0em auto 3em ;
    }
    
    .box1 h1, .box1 h2 {
        color: #fff;
    }
    
    form{
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 263px;
    }
    
    form input{
        width: 280px;
        height: 65px;
        background: #C4C4C4;
        border-radius: 10px;
        outline: none;
        border: none;
        margin-bottom: 27px;
    }
    
    form button{
        width: 90px;
        height: 47px;
        background: #C4C4C4;
        border-radius: 10px;
        margin: 0 auto;
        outline: none;
        border: none;
    }

}