@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans&family=Poppins:wght@400;700&display=swap');
body{
    width:100vw;
    height:auto;
    margin:0;padding:0;
    background:url("https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png") ;
  
}

*{
    padding: 0;
    margin:0;
    text-decoration:none;
    list-style:none;
    box-sizing: border-box;
    font-family: "Josefin Sans",sans-serif;
}

/*NAVIGATION BAR */
.navbar{
    width:100vw;
    display:flex;
    justify-content: space-around;
    font-family:cursive,sans-serif;
    align-items: center;
    margin-bottom: 1em;
    }
.navbar-items {
    display:flex;
    gap:20px;
}
.navbar h3 a{
    font-family: "Allura",sans-serif;
    font-size: 40px;
    color: blue;
}
/* PROJECT */
.project{
    display:block;
   justify-content:space-between;
   margin-left: 25%;
   margin-top: 5%;
}


.box1{
align-items: center;
margin-bottom: 5%;
}
.box2{
    align-items: center;
}
img{
    width: 70%;
    height:50%;
}
.box1 p{
    width:50vw;

}
.box2 p{
   width:49vw;
   margin-bottom: 3em;

}
p{
    font-family: cursive;
    margin-top: 2em;
}
/* FOOTER */
footer{
    text-align: center;
}

@media screen and (max-width: 800px) {
    /*NAVIGATION BAR*/
    .navbar{
        display:flex;
        flex-direction: column;
        align-items: center;

    }
    .navbar-items{
        display:flex;
        flex-direction: column;
        align-items: center;

    }
    img{
        width: 90%;
        height:70%;
    }
    .project{
        display:flex;
        flex-direction: column;
       justify-content:space-between;
       margin:0;
       align-items: center;
    }
    .box1{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .box2{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .box1 p{
        width:80vw;
    
    }
    .box2 p{
       width:80vw;
       margin-bottom: 3em;
    
    }
    
}