@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html,body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
}

h2{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
}

h3{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 37px;
}

h4{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 155%;
}


